a{color:#48e340;text-decoration:none;  transition: .3s ease;}
table a:hover, label a:hover, #more a:hover {color:#2bbcb7;}
h1, h2, h3, h4, .separator, .mc-info, table {cursor:default;}
.separator{margin:50px 5px 10px 5px;}
.cover2 {display:none;}

/*** Titulo ***/
.title {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.title div {color:#fff;background:rgba(0,0,0,.6);padding:60px 10px;}
.title h1 {text-align:center;font-size:25px;}
.title small {display:block;font-weight:400;font-size:16px;}

/*** contenedor ***/
.contenedor {
  margin-right:300px;
  background:#fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.1);	
  padding-bottom:5px;
}
h3 {
 margin:0;
 padding: 20px;
 font-size: 25px;
 color: #000;
 letter-spacing: 5px;
}
/* GRUPO DE BOTONES - ENLACES DE CANCION */
.button-group {
  margin: 15px 0;
  font-size: 20px;
}
.button-group a {
  display:inline-block;
  margin:2px;
  padding: 5px 15px;
  border-radius: 5px;
}
.button-group a:hover {box-shadow: 0 10px 10px rgba(0,0,0,0.13), 6px 6px 10px rgba(0,0,0,0.3);}
.btn-y {background: #e02f2f;color: #fff;}
.btn-S{background: #333;color: #1ed760;}
.btn-V{background: #00adef;color: #fff;}
.btn-SC {background: #ff7300;color: #fff;}
.btn-i{background: #e8e8e8;color: #3cbefa;}
.btn-D {background: #0f0f0f;color: #fff;}
.btn-VO {width:45px;background: #000 url('https://3.bp.blogspot.com/-02JGY08FJek/XYxcyFEvrMI/AAAAAAAAAsA/TKzJx0kWoIIPKF9MTE2u-_2mAG0oqrNxACPcBGAYYCw/icons8-mensaje-de-v%25C3%25ADdeo-48%2B%25281%2529.png') 5px no-repeat;color: rgba(0,0,0,0);background-size: 35px; }

/*** sidebar de informacion ***/
.info {
  width:285px;
  float:right;
  background:#fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.13), 0 6px 6px rgba(0,0,0,0.1);	
}
h4 {
  margin:15px;
  font-family: 'M PLUS 1p', sans-serif;
}
#a1{float:left; color:#000;}
#a2{float:right; color:#000;}
.names {padding:5px;}
#title {
  color:#0f0f0f;
  font-family: 'M PLUS 1p', sans-serif;
  font-size:25px;
  letter-spacing: 2px;
  margin:0px;
}
#artist {
  color:#999;
  font-size:14px;
  font-weight:500;
  margin:5px;
}
#more-info {
  width:100%;
  background-color:#2c2c2c;
  color:#fff;
  letter-spacing:2px;
  padding:10px;
  border:none;
  outline:none;
  cursor:pointer;
}
.more_info {width:100%;}
#more{text-align:center;}
#saga {text-align:left;}
th a{color:#fff;}
.more_info th{
  width:75px;
  background:#2c2c2c;
  color:#fff;
  text-align:left;
  font-weight:normal;
  padding:5px;
}
.more_info thead th {
  background:#0f0f0f;
  color:#fff;
  text-align:center;
  padding:5px;
}
/********************* OPCIONES DE LETRA ***************************/
/** parrafos **/
.tabcontent3 h3 {
  letter-spacing:0;
  margin:5px;
  padding:0;
  font-size: 28px;
}
.tabcontent3 p {
 white-space: pre-wrap;
 margin:2px;
  font-size:18px;
}
.tab3 {
  overflow: hidden;
  border: 3px solid #050505;
  background-color: #050505;
}
.tab3 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  transition: 0.3s;
  font-size: 17px;
  color:#fff;
  font-family: 'M PLUS 1p', sans-serif;
}
.tab3 button:hover, .tab3 button.active {
  background-color: #fff;
  color:#000;
}
.tabcontent3 {
  display: none;
  padding: 5px;
  border: 1px solid #050505;
}
/*** Tabs pestañas ***/
#tabs{
  background:#000;
  text-align:center;
}
input[type="radio"]{
	display:none;
}
label{
	display:inline-block;
	padding:15px 10px;
  font-size:18px;
  color:#e1e1e1;
  border-bottom:4px #000 solid;
	cursor:pointer;
  transition: .4s;
  -webkit-transition: .4s;
}
label:hover{color:#888;}
.tab{
  padding:10px 7%;
	background-color:#f3f3f3;
  background-image: url('https://3.bp.blogspot.com/-W3KdNSm3i7I/XWNUZcvQS3I/AAAAAAAAAp4/iMq2EzVquGUjQEy61HtPVPQowIEhIZUPgCLcBGAs/s1600/pattern.png');
  background-attachment: fixed;
	display:none;
  color:#2c2c2c;
}
#toggle-tab1:checked ~ label[for="toggle-tab1"],#toggle-tab2:checked ~ label[for="toggle-tab2"]{
  border-bottom:4px #05e515 solid;
  cursor:default;
}
#toggle-tab1:checked ~ #tab1,#toggle-tab2:checked ~ #tab2{
  display:block;
}

/** Plyr **/
/* REPRODUCTOR */
.plyr--audio .plyr__controls {
  z-index:1;
    background: #fff; /*color de fondo*/
    border: none; /*bordes redondeados*/
    color: #000000 !important; /*color de los botones*/
    padding: 10px; /*relleno*/
}
.plyr--full-ui input[type=range] {
    color: #00e423 !important;
}
.plyr__control--overlaid {
    background: rgb(0, 228, 35,0.6) !important;
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background:  rgb(0, 228, 35,0.99) !important;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
    background: #00e423 !important;
    color: #fff;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #00c91e !important;
}
.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 3px rgb(0, 228, 35,0.5) !important;
    outline: 0;
}

/**** RESPONSIVE ****/
@media only screen and (max-width:950px) {
/*** contenedor ***/
.contenedor {margin-right:0;}
.cover1 {display:none;}
.cover2 {
  display:block;
  max-width:350px;
  border: 2px solid #000;
  }
/*** sidebar de informacion ***/
.info {
  float: none ;
  width:100%;
  margin-bottom:20px;
}
.names{margin:-10px 10px 10px 10px;}
.more_info th{width:90px;}
h4 {
  padding:15px 5px;
}
}
@media only screen and (max-width:600px) {
.tab{padding:10px;}
.tab3 button {
  font-size: 14px;
  padding:12px 12px;
}
.cover2 {width:80%;}
  .button-group a {
  padding: 5px 10px;
  margin:0;
}
  .button-group {font-size: 18px;}
}

.versiones > input[type="radio"] {
  display: none;
}
.versiones .tab-ver {display: none;}
.versiones > input:first-child:checked ~ .tab-versiones > .tab-ver:first-child,
.versiones > input:nth-child(3):checked ~ .tab-versiones > .tab-ver:nth-child(2),
.versiones > input:nth-child(5):checked ~ .tab-versiones > .tab-ver:nth-child(3),
.versiones > input:nth-child(7):checked ~ .tab-versiones > .tab-ver:nth-child(4),
.versiones > input:nth-child(9):checked ~ .tab-versiones > .tab-ver:nth-child(5),
.versiones > input:nth-child(11):checked ~ .tab-versiones > .tab-ver:nth-child(6) {
  display: block;
}
.versiones{position: relative;overflow:hidden;text-align:left;}
.versiones > label {
  background:#0f0f0f;
  color:#0ed515;
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #168926;
  cursor: pointer;
  font-weight: 600;
}
.versiones > label:hover,
.versiones > input:focus + label {
  background:#222;
}
.versiones > input:checked + label {
  background:#0dc114;
  border: 1px solid #127b1f;
  color: #168926;
}
.tab-ver {margin:10px 0;}
#vv1{margin-left:5px;}
